[defaults]
roles_path           = ../roles
inventory            = ../inventory/hosts
host_key_checking    = False
stdout_callback      = yaml
retry_files_enabled  = False

[persistent_connection]
connect_timeout      = 30
command_timeout      = 60
